*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #9c9c9c;
	font-family: georgia, times, serif;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}
button{
	border: 1px solid #000;
	padding: 5px;
	width: 200px;
	height: 50px;
}


.ciclos{
	background: #00ffFF;
}